:root {
  --transition-speed: 600ms;
  --main-color: rgb(219, 0, 80);
  font-family: sans-serif;
}

body {
  background: rgba(127, 3, 36, 0.586) url("../assets/images/background.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
