@import "./general.css";

.background-image {
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
}

header {
  display: flex;
  color: white;
  background-color: green;
  align-items: center;
}

.logo-container {
  display: flex;
  width: 200px;
  height: 80px;
  background-color: blue;
  padding-left: 20px;
  padding-top: 20px;
}

.logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 25px;
}

.menu {
  display: flex;
  background-color: brown;
  position: relative;
  left: 800px;
}

.menu P {
  margin: 10px;
}


main {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
}

.searchbar-container {

}

.searchbar {
  width: 500px;
  height: 40px; 
  border-radius: 20px;
  border: 0;
}