@import "./general.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

header {
  margin: 0;
  display: flex;
  color: white;
  background-color: transparent;
  align-items: center;
}

.menu {
  display: flex;
  background-color: transparent;
  position: relative;
  left: 900px;
}

.menu button {
  font-weight: bold;
  color: white;
  background-color: rgb(217, 0, 87);
  border-radius: 4px;
  border: 0;
  padding: 5px 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.menu button:hover {
  background-color: rgb(150, 0, 60);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Bebas Neue";
  font-size: 100px;
  color: rgb(255, 0, 98);
}

.searchbar-container input {
  font-family: "Bebas Neue";
  font-size: 17px;
  padding-left: 30px;
}

.searchbar {
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: 0;
}
